<!-- views/accounts.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
	<div class="container">
	    <div class="page-header text-center">
	        <h1><span class="fa fa-user"></span> Welcome <%= user.local.firstname %></h1>
	        <h3> <strong>Balance: </strong>
        			<font color="green"> 
	        		<% if (user.local.balance) { %>
						        <%= user.local.balance %>
						    <% } else {%>
						    	0
						   <% } %>
				   	</font>
		   </h3>
	        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
	    </div>
	    
	    <!-- show any messages that come back with authentication -->
	    <% if (!user.local.validated) { %>
	        <div class="alert alert-danger">Account validation in progress. This should take between 12-24 hours. You will have minimal access to your account during this time.</div>
	    <% } %>
	    
	    <!-- show any messages that come back with authentication -->
	    <% if (message.length > 0) { %>
	        <div class="alert alert-success"><%= message %></div>
	    <% } %>
	
	    <div class="row">
	
	        <!-- LOCAL INFORMATION -->
	        <div class="grid">
	                <h3><span class="fa fa-user"></span> My Account</h3>
	
	                    <p>
	                        <!--<strong>id</strong>: <%= user._id %><br> -->
	                        <strong>Email: </strong> <%= user.local.username %><br>
	                        <strong>Blockchain Public Key: </strong>
	                        
	                        <% if (!user.local.address) { %>
						        {} <br>
						    <% } else { %> <%= user.local.address %> <br>
						    
					       	<% } %>					       	                    	                       	                        	                        	                        					   
	                    </p>
	                    	                    
	                    <p>Create new posts? <a href= "/jobpost" >Create New jobpost</a></p>
	                    <p>Check latest job posts? <a href= "/listjobpost" >List jobposts</a></p>
	                    <p>Check your recent transactions? <a href= "/transactions" >Transaction history</a></p>
	                    <p><a href= "/jobpost" >My Posts</a></p>
	                    <p><a href= "/listjobsaleshistory" >Services Sold</a></p>
	                    <p><a href= "/listjobpurchasehistory" >Services Purchased</a></p>
            </div>
	
	    </div>
	
	</div>
</body>
</html>
