<!-- views/accounts.ejs -->
<!doctype html>
<html>
<head>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="dicoins.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>       
	<script> 
		$(function(){
  			$("#diCoinsHeader").load("diCoinsHeader.html");   		
		});
	</script>     
    <style>
        body        { padding-top:0px; word-wrap:break-word; }
        
        table {
		  border-collapse: separate;
		  border-spacing: 4px;
		}
		table,
		th,
		td {
		  border: 1px solid #cecfd5;
		}
		th,
		td {
		  padding: 10px 15px;
		}
		thead {
		  background: #395870;
		  background: linear-gradient(#49708f, #293f50);
		  color: #fff;
		  font-size: 11px;
		  text-transform: uppercase;
		}
    </style>
</head>

<% function handleClick(evt) {
  var node = evt.target || evt.srcElement;
  if (node.name == 'edit') {
    node.name = "Modify";
  }
} %>


<body>
<div id="diCoinsHeader">
</div>
	<div class="container">
		<div class="page-header text-center">
	        <h1>Activity Feed</h1>
	    </div>
	    
	    <!-- show any messages that come back with authentication -->
	    <% if (message.length > 0 && messageType <= 0 ) { %>
	        <div class="alert alert-success text-center"><%= message %></div>
	    <% } else if (message.length > 0) { %>
	    	<div class="alert alert-danger text-center"><%= message %></div>
        <% } %>
	    
		<table align="center">			    	   
		    <% if (posts.length) { %>	    	        
	    	        <tbody>
				    <% posts.forEach(function(post) { %>
				        <h3>
				        <tr>
				        	<td ><b><%= post.buyer %></b> sold  <%= post.title %> to <b><%= post.seller %></b> for <b><%= post.price %> dicoins </b>
				        		<% if (post.date) { %>
				        			on <%= post.date %>  <br/>
                                <% } %>
                                </td>					            
				        </h3>
				        </tr>
				    <% }); %>
				    </tbody>
				
			<% } %>	
		</table>
		<div class="page-header text-center">
		<p>Go back Home? <a href="/listjobpost">Home</a></p>
		</div>
	</div>
</body>
</html>
